# Best goddamn inputrc in the whole world. MODIFIED
# https://github.com/whiteinge/dotfiles/blob/master/.inputrc
# See http://linux.die.net/man/1/bash for all vi commands/variables

# Adds punctuation as word delimiters
set bind-tty-special-chars off

# Completion Options
set page-completions on
set completion-ignore-case on
set completion-query-items 200
set show-all-if-ambiguous on
set show-all-if-unmodified on
set visible-stats on

# Useful stuff for UTF-8
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

# Vi mode
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string "+"
set vi-cmd-mode-string ":"

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history

    # Use also emacs keys in insert mode, best of both ;)
    set keymap vi-insert
    "\C-l": clear-screen
    "\C-w": backward-kill-word
    "\C-k": kill-line
    "\C-a": beginning-of-line
    "\C-e": end-of-line
    # auto-complete from the history
    "\C-p": history-search-backward
    "\C-n": history-search-forward
$endif

$if Bash
$endif

$if Python
$endif

# IPython doesn't seem to work :weary:
set keymap vi