# This is Git's per-user configuration file.
[user]
	name = Thorben Menne
	email = mennthor@aol.com

[color]
	ui = true

[format]
	pretty  = fuller

[pull]
	rebase = true

[rebase]
	stat = true

[merge]
	conflictstyle = diff3
