[user]
	name = Thorben Menne
	email = thorben.menne@tu-dortmund.de

# Thanks to http://toolbox.pep-dortmund.org
[pull]
	rebase = true

[rebase]
	stat = true

[merge]
	conflictstyle = diff3

[log]
	decorate=auto


[format]
	pretty  = fuller


[color]
	ui = auto

[color "status"]
	added = green
	changed = yellow
	untracked = red

[color "branch"]
	current = green reverse
	local = green
	remote = yellow

[color "diff"]
	meta = yellow
	frag = blue
	old = red
	new = green


[alias]
	s = status
	c = commit
	cm = commit -m
	b = branch
	ba = branch -a
	co = checkout
	# Thanks to ibab/dotfiles/.../.gitignore
	lg = log --pretty=oneline --abbrev-commit --graph --decorate